@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Blind Melon - No Rain</h1>
    <p><iframe width="1100" height="630" src="https://www.youtube.com/embed/3qVPNONdF58" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
               gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</div>
<div id="container">
    <div id="animate">
        <p><button onclick="myMove()" id="animate"><img src="/images/animatedbee4.png" height="200" width="400"/></button></p>
    </div>
</div>
<div class="text-clickbee">
    <h1>Click the bee.</h1>
</div>
